## ANE build config

# AIR SDK
air.sdk = /Users/marchbold/work/sdks/air/current

# ANDROID
android.sdk = /Users/marchbold/work/sdks/android/android-sdk-macosx

# 
android.package = com.distriqt.extension.customresources
android.resources = res





## 
project.name = CustomResources

output.name = com.distriqt.${project.name}.ane
output.dir = ./build
output.docs = ./build/docs

actionscript.dir = ./platform/actionscript
default.dir = ./platform/default
android.dir = ./platform/android

android.resources = res


