## ANE build config


# AIR SDK
air.sdk = /Users/marchbold/work/sdks/air/current

# ANDROID
android.sdk = /Users/marchbold/work/sdks/android/android-sdk-macosx

# CHANGE THIS PACKAGE NAME IF YOU ARE USING FIREBASE
android.package = com.distriqt.extension



## 
project.name = Resources
version = 1

output.name = ${android.package}.${project.name}.ane
output.dir = ./build
output.docs = ./build/docs

actionscript.dir = ./platform/actionscript
default.dir = ./platform/default
android.dir = ./platform/android
android.resdir = customresources
android.resources = res


